.filtersPanel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.locationInput {
  position: relative;
}

.locationInput svg {
  position: absolute;
  left: 20px;
  top: calc(100% - 18px);
  transform: translateY(-100%);
  width: 20px;
  height: 20px;
  pointer-events: none;
  color: var(--main-color3);
}

.locationInput svg use {
  transform: scale(1.6);
}

.map {
  color: var(--main-color) !important;
}

.locationInput input {
  color: #000;
  height: 56px;
  padding: 18px 46px;
  margin-top: 8px;
  border: none;
  border-radius: 12px;
  background: var(--section-elem3-color);
}

.locationInput input:focus {
  outline: none;
  border-color: transparent; /* Додатково, якщо змінюється border */
}

.locationInput label {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--main-color3);
}

input {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.suggestionsList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
  list-style: none;
  margin: 0;
  padding: 0 12px;
  border-radius: 0 0 12px 12px;
  background: var(--section-elem3-color);
  transform: translateY(-15px);
}

.suggestionsList li {
  padding: 8px;
  cursor: pointer;
}

.suggestionsList li:hover {
  background-color: #f0f0f0;
}

.noResults {
  padding: 8px;
  color: #888;
  text-align: center;
}
