.loadBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.loadBtn button {
    background: none;
    border: 1px solid var(--section-elem1-color);
    padding: 16px 32px;
    border-radius: 200px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.5;
    transition: 0.3s;
}

.loadBtn button:hover {
    cursor: pointer;
    border: 1px solid var(--button-color);
    transform: scaleX(1.05);
}