.homePageWrapper {
    height: 696px;
    background-image: url('/bg-1440.jpg'); 
    background-size: cover;
    background-position: 50% 73%; 
    background-repeat: no-repeat; 
    position: relative;
}

.homePageSlogan h1, .homePageSlogan h4 {
    color: var(--section-elem3-color);
    font-size: 48px;
    font-weight: 600;
    line-height: 32px;
    margin: 0;
}

.homePageSlogan h4 {
    margin: 16px 0 40px;
    font-size: 24px;
}

.homePageWelcome {
    width: 571px;
    height: 176px;
    position: absolute;
    top: 50%;
    left: 64px;
    transform: translateY(-50%);
}

.homePageWelcome button {
    color: var(--section-elem4-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.5;
    width: 173px;
    height: 56px;
    border-radius: 200px;
    background-color: var(--button-color);
    border: none;
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.homePageWelcome button:hover {
    cursor: pointer;
    background-color: var(--button-hover-color);
    transform: scaleX(1.1);
}

@media (min-width: 1920px) {
    .homePageWrapper {
        background-image: url('/bg.jpg'); 
    }
  }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .homePageWrapper {
        background-image: url('/bg.jpeg'); 
    }
  }